/* 布局 */
.page-container
  padding 20px
/*常用样式*/
.w-100
  width 100%
.h-100
  height  100%
.w-0
  width 0
.h-0
  height 0

/* flex 布局*/
.flex-row
  display flex
.flex-col
  display flex
  flex-direction column
.flex-1
  flex 1
.center
  align-items center
  justify-content center
.between
  justify-content space-between